@import '../_settings/variables';

.profile-card {
    border: 1px solid #d9d9d9;
    margin: 1rem 1rem;
    cursor: pointer;
    transition: all .3s;

    &__img {
        width: 30rem;
        height: 25rem;
    }

    &__name {
        padding: 1.5rem;
        font-size: 1.3rem;
        text-align: center;
        color: $color-gray-dark;
        font-weight: 600;
        transition: all .3s;
        // background-color: #f2f2f2;
    }

    &:hover {
        box-shadow: 1rem 1rem 2rem rgba(0,0,0,.2);
        transform: translateY(-.5rem);

        .profile-card__name {
            background-color: rgba($color-primary,1);
            color: #FFF;

        }
    }
}